@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Arua Project</p>
</div>

<div class="text-center">
    <h1 class="display-4">Version 2</h1>
    <p><Source>So much better than Version 1</Source></p>
</div>
